In [1]:
import pandas as pd
import all_individual_stats
import env
import api_exp

['NA1_4035079692_lobby.csv', 'NA1_4035079700_histories.csv', 'NA1_4035079686_lobby.csv', 'NA1_4035079668_lobby.csv', 'NA1_4035079665_lobby.csv', 'NA1_4035079613_lobby.csv', 'NA1_4035079604_histories.csv', 'NA1_4035079613_histories.csv', 'NA1_4035079733_histories.csv', 'NA1_4035079696_histories.csv', 'NA1_4035079692_histories.csv', 'NA1_4035079733_lobby.csv', 'NA1_4035079718_histories.csv', 'NA1_4035079666_histories.csv', 'NA1_4035079696_lobby.csv', 'NA1_4035079604_lobby.csv', 'NA1_4035079665_histories.csv', 'NA1_4035079700_lobby.csv', 'NA1_4035079686_histories.csv', 'NA1_4169245913_lobby.csv', 'NA1_4169245913_histories.csv', 'NA1_4035079718_lobby.csv', 'NA1_4035079668_histories.csv', 'NA1_4035079666_lobby.csv']

In [2]:
all_individual_stats.time_columns()

0               NaN
1               NaN
2               NaN
3               NaN
4               NaN
           ...
685             NaN
686             NaN
687    1.641211e+12
688    1.640994e+12
689    1.640992e+12
Name: game_end, Length: 690, dtype: float64
                                                 puuid summoner_name  \
555  ZH38E3xWL7EiXyadzmpRp0IxECEThdbCPAEGjN9WfHf39c...    martygabes
556  ZH38E3xWL7EiXyadzmpRp0IxECEThdbCPAEGjN9WfHf39c...    martygabes
557  ZH38E3xWL7EiXyadzmpRp0IxECEThdbCPAEGjN9WfHf39c...    martygabes
558  ZH38E3xWL7EiXyadzmpRp0IxECEThdbCPAEGjN9WfHf39c...    martygabes
559  ZH38E3xWL7EiXyadzmpRp0IxECEThdbCPAEGjN9WfHf39c...    martygabes
..                                                 ...           ...
40   HIDfXP40aq6LMFjBQ-Qsp0Dpe6ERezDkErU83CEhlypNQ1...       Cheet0h
41   HIDfXP40aq6LMFjBQ-Qsp0Dpe6ERezDkErU83CEhlypNQ1...       Cheet0h
42   HIDfXP40aq6LMFjBQ-Qsp0Dpe6ERezDkErU83CEhlypNQ1...       Cheet0h
43   HIDfXP40aq6LMFjBQ-Qsp0Dpe6ERezDkErU83CEhlypNQ1...       Cheet0h
44                                                 NaN           NaN

            game_id  champion_id champion_name team_pos    win  \
555  NA1_4168465621         21.0   MissFortune   BOTTOM   True
556  NA1_4163202834         21.0   MissFortune   BOTTOM   True
557  NA1_4126437294         21.0   MissFortune   BOTTOM   True
558  NA1_4126429798         21.0   MissFortune   BOTTOM   True
559  NA1_4123347432         22.0          Ashe   BOTTOM  False
..              ...          ...           ...      ...    ...
40   NA1_3964078032        875.0          Sett      TOP   True
41   NA1_3964075305         23.0    Tryndamere      TOP   True
42   NA1_3964101663         36.0       DrMundo      TOP  False
43   NA1_3959551510          6.0         Urgot      TOP  False
44              NaN          NaN           NaN      NaN    NaN

                 game_start  game_duration   team                game_end  \
555 2022-01-07 18:43:01.358       0.016667  100.0 2022-01-07 18:43:02.990
556 2022-01-03 15:19:54.152       0.016667  200.0 2022-01-03 15:19:56.073
557 2021-12-03 19:48:27.592       0.016667  200.0 2021-12-03 19:48:29.172
558 2021-12-03 19:07:43.354       0.016667  200.0 2021-12-03 19:07:45.156
559 2021-11-30 21:44:24.700       0.033333  200.0 2021-11-30 21:44:26.812
..                      ...            ...    ...                     ...
40  2021-07-02 15:42:21.005      16.183333  100.0 2021-07-02 15:58:32.489
41  2021-07-02 15:13:17.920      21.800000  200.0 2021-07-02 15:35:05.980
42  2021-07-02 14:38:14.961      29.516667  100.0 2021-07-02 15:07:46.347
43  2021-06-28 10:47:48.685      22.633333  100.0 2021-06-28 11:10:26.829
44                      NaT            NaN    NaN                     NaT

     time_between_games
555          203.083333
556         1171.400000
557           40.700000
558         1283.266667
559           58.233333
..                  ...
40             7.250000
41             5.516667
42           207.800000
43                  NaN
44                  NaN

[690 rows x 12 columns]

,puuid,summoner_name,game_id,champion_id,champion_name,team_pos,win,game_start,game_duration,team,game_end,is_session,time_between_games,session_count
555,ZH38E3xWL7EiXyadzmpRp0IxECEThdbCPAEGjN9WfHf39c...,martygabes,NA1_4168522487,19,Warwick,JUNGLE,True,2022-01-07 19:16:28.279,0.033333,200,2022-01-07 19:16:30.404,True,33.416667,2
556,ZH38E3xWL7EiXyadzmpRp0IxECEThdbCPAEGjN9WfHf39c...,martygabes,NA1_4168465621,21,MissFortune,BOTTOM,True,2022-01-07 18:43:01.358,0.016667,100,2022-01-07 18:43:02.990,False,203.083333,1
557,ZH38E3xWL7EiXyadzmpRp0IxECEThdbCPAEGjN9WfHf39c...,martygabes,NA1_4163202834,21,MissFortune,BOTTOM,True,2022-01-03 15:19:54.152,0.016667,200,2022-01-03 15:19:56.073,False,1171.400000,1
558,ZH38E3xWL7EiXyadzmpRp0IxECEThdbCPAEGjN9WfHf39c...,martygabes,NA1_4126437294,21,MissFortune,BOTTOM,True,2021-12-03 19:48:27.592,0.016667,200,2021-12-03 19:48:29.172,True,40.700000,2
559,ZH38E3xWL7EiXyadzmpRp0IxECEThdbCPAEGjN9WfHf39c...,martygabes,NA1_4126429798,21,MissFortune,BOTTOM,True,2021-12-03 19:07:43.354,0.016667,200,2021-12-03 19:07:45.156,False,1283.266667,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40,HIDfXP40aq6LMFjBQ-Qsp0Dpe6ERezDkErU83CEhlypNQ1...,Cheet0h,NA1_3964150259,56,Nocturne,TOP,False,2021-07-02 16:05:02.908,16.233333,100,2021-07-02 16:21:17.010,True,6.500000,4
41,HIDfXP40aq6LMFjBQ-Qsp0Dpe6ERezDkErU83CEhlypNQ1...,Cheet0h,NA1_3964078032,875,Sett,TOP,True,2021-07-02 15:42:21.005,16.183333,100,2021-07-02 15:58:32.489,True,7.250000,3
42,HIDfXP40aq6LMFjBQ-Qsp0Dpe6ERezDkErU83CEhlypNQ1...,Cheet0h,NA1_3964075305,23,Tryndamere,TOP,True,2021-07-02 15:13:17.920,21.800000,200,2021-07-02 15:35:05.980,True,5.516667,2
43,HIDfXP40aq6LMFjBQ-Qsp0Dpe6ERezDkErU83CEhlypNQ1...,Cheet0h,NA1_3964101663,36,DrMundo,TOP,False,2021-07-02 14:38:14.961,29.516667,100,2021-07-02 15:07:46.347,False,207.800000,1
44,HIDfXP40aq6LMFjBQ-Qsp0Dpe6ERezDkErU83CEhlypNQ1...,Cheet0h,NA1_3959551510,6,Urgot,TOP,False,2021-06-28 10:47:48.685,22.633333,100,2021-06-28 11:10:26.829,False,NaN,1